<html>
<head>
    <title>Cadastro do Agente da Empresa</title>
</head>
<body>
<h2>Cadastro do Agente da Empresa</h2>
<form method="POST">
    <label for="nomeUsuario">Nome de usuário:</label> <input type="text"
                                                             name="nome" size="50"></input><br />
    <label for="nomeCompleto">Nome completo:</label> <input type="text"
                                                            name="nome" size="50"></input><br />
    <label for="senha">Senha:</label> <input type="text"
                                             name="nome" size="50"></input><br />
    <label for="cpf">CPF:</label> <input type="text"
                                         name="nome" size="50"></input><br />
    <label for="endereco">Endereço:</label> <input type="text"
                                                   name="nome" size="50"></input><br />
    <input type="submit"></input>
</form>
</body>
</html>