<html>
<head>
    <title>Cadastro do Automóvel</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/automovel/cadastrar">
                Cadastrar Automóvel</a>
        </li>
        <li>
            <a href="/automovel/visualizarTodos">
                Visualizar Automóvel</a>
        </li>
    </ul>
</nav>
<h2>Cadastro do Automóvel</h2>
<form method="POST">
    <label for="matricula">Matrícula:</label> <input type="text"
                                                             name="matricula" size="50"></input><br />
    <label for="ano">Ano:</label> <input type="text"
                                                            name="ano" size="50"></input><br />
    <label for="marca">Marca:</label> <input type="text"
                                             name="marca" size="50"></input><br />
    <label for="modelo">Modelo:</label> <input type="text"
                                         name="modelo" size="50"></input><br />
    <label for="placa">Placa:</label> <input type="text"
                                         name="placa" size="50"></input><br />
    <input type="submit"></input>
</form>
</body>
</html>