<html>
<head>
    <title>Reading List</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/agenteEmpresa/visualizarTodos">
                Agente de Empresa</a>
        </li>
        <li>
            <a href="/agenteFinanceiro/visualizarTodos">
                Agente Financeiro</a>
        </li>
        <li>
            <a href="/cliente/visualizarTodos">
                Cliente</a>
        </li>
        <li>
            <a href="/automovel/visualizarTodos">
                Automóvel</a>
        </li>
        <li>
            <a href="/pedidoAluguel/visualizarTodos">
                Pedidos de Aluguel</a>
        </li>

    </ul>
</nav>
<h2>Sistema de Controle de Alugueis</h2>

</body>
</html>