<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Atualização do Agente Empresa</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/agenteEmpresa/cadastrar">
                Cadastrar Agente Empresa</a>
        </li>
        <li>
            <a href="/agenteEmpresa/visualizarTodos">
                Visualizar Agente Empresa</a>
        </li>
    </ul>
</nav>
<h2>Atualizar Agente Empresa</h2>
<form method="POST">
    <label for="userId">Id de usuário:</label> <input type="text"
                                                      name="userId" th:value=${agenteEmpresa.getId()} disabled size="50"></input><br />
    <label for="nomeUsuario">Nome de usuário:</label> <input type="text"
                                                             name="nomeUsuario" th:value="${agenteEmpresa.getNomeUsuario()}" size="50"></input><br />
    <label for="nomeCompleto">Nome completo:</label> <input type="text"
                                                            name="nomeCompleto" th:value="${agenteEmpresa.getNomeCompleto()}" size="50"></input><br />
    <label for="senha">Senha:</label> <input type="text"
                                             name="senha" size="50" th:value="${agenteEmpresa.getSenha()}"></input><br />
    <label for="cpf">CPF:</label> <input type="text"
                                         name="cpf" size="50" th:value="${agenteEmpresa.getCpf()}"></input><br />
    <label for="endereco">Endereço:</label> <input type="text"
                                                   name="endereco" th:value="${agenteEmpresa.getEndereco()}" size="50"></input><br />
    <label for="nomeEmpresa">Nome da Empresa:</label> <input type="text"
                                                             name="nomeEmpresa" th:value="${agenteEmpresa.getNomeEmpresa()}" size="50"></input><br />
    <input type="submit"></input>
</form>
</body>
</html>