<html>
<head>
    <title>Cadastro do Cliente</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/cliente/cadastrar">
                Cadastrar Cliente</a>
        </li>
        <li>
            <a href="/cliente/visualizarTodos">
                Visualizar Cliente</a>
        </li>
    </ul>
</nav>
<h2>Cadastro do Cliente</h2>
<form method="POST">
    <label for="nomeUsuario">Nome de usuário:</label> <input type="text"
                                                             name="nomeUsuario" size="50"></input><br />
    <label for="nomeCompleto">Nome completo:</label> <input type="text"
                                                            name="nomeCompleto" size="50"></input><br />
    <label for="senha">Senha:</label> <input type="text"
                                             name="senha" size="50"></input><br />
    <label for="cpf">CPF:</label> <input type="text"
                                         name="cpf" size="50"></input><br />
    <label for="rg">RG:</label> <input type="text"
                                       name="rg" size="50"></input><br />
    <label for="endereco">Endereço:</label> <input type="text"
                                                   name="endereco" size="50"></input><br />
    <label for="nomeEmpresa">Profissão:</label> <input type="text"
                                                             name="profissao" size="50"></input><br />
    <input type="submit"></input>
</form>
</body>
</html>