<html>
<head>
    <title>Cadastro do Pedido de Aluguel</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Pagina Inicial</a>
        </li>
        <li>
            <a href="/automovel/cadastrar">
                Cadastrar Pedido de Aluguel</a>
        </li>
        <li>
            <a href="/automovel/visualizarTodos">
                Visualizar Pedido de Aluguel</a>
        </li>
    </ul>
</nav>
<h2>Cadastro do Pedido de Aluguel</h2>
<form method="POST">
    <label for="clienteID">Id do Cliente:</label> <input type="number"
                                                          name="clienteID" size="50"></input><br />
    <label for="automovelID">Id do Automóvel:</label> <input type="number"
                                                              name="automovelID" size="50"></input><br />
    <label for="dataInicio">Data de Inicio:</label> <input type="text"
                                                           name="dataInicio" size="50"></input><br />
    <label for="dataFim">Data Final:</label> <input type="text"
                                                    name="dataFim" size="50"></input><br />
    <input type="submit"></input>
</form>
</body>
</html>